.app-footer {
  @include background-image(linear-gradient(top, lighten($footer-color, 5), darken($footer-color, 5)));
  font-size: 12px;
  color: #555555;
}

.x-bottom-nav-btn .x-btn-inner {
  color: #555555;
  font-size: 12px;
}

.x-bottom-nav-btn-over .x-btn-inner {
  color: #666666;
  font-size: 12px;
  text-decoration: underline;
}
