.x-logo {
  padding: 10px 10px 10px 45px;
  background: url(../resources/images/bee.png) no-repeat 1px 8px;

  color: #fff;
  font-size: 24px;
  text-shadow: 2px 2px 6px #777777;
  font-family: 'Walkway_UltraBold';
  letter-spacing: 2px;
}

#tagline {
  font-size: 8px;
  color: #ccc;
  letter-spacing: 0;
  font-weight: bold;
  text-shadow: 0 0 0 #333333;
  font-family: 'Walkway_Bold';
  margin-top: 3px;
  text-align: center;
}