@font-face {
  font-family: Walkway_Bold;
  src: url('../resources/fonts/Walkway_Bold.ttf');  // use .eot for IE or use google fonts
}

@font-face {
  font-family: Walkway_UltraBold;
  src: url('../resources/fonts/Walkway_UltraBold.ttf');  // use .eot for IE or use google fonts
}

.app-header {
  @include background-image(linear-gradient(top, lighten($header-color, 1), darken($header-color, 3)));
  padding: 0 10px 0px 20px;

}

.page-title {
  color: #79a2d6;
  font-size: 16px;
}

.page-instructions {
  color: #797979;
  padding-bottom: 10px;
}

.grid-nav .x-column-header {
  padding-left: 5px;
  padding-right: 5px;
  line-height: 24px;
  background-gradient: 'matte';
}

.grid-nav .x-column-header-inner {
  font-weight: bold;
  color: #666666;
}

.grid-nav .x-grid-cell {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.grid-nav-toolbar .x-column-header {
  padding-left: 5px;
  padding-right: 5px;
  line-height: 18px;
  background-gradient: 'matte';
}

.grid-nav-toolbar .x-column-header-inner {
  font-weight: bold;
  color: #7f7f7f;
}

.grid-nav-toolbar .x-grid-cell {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
}

.tab-panel-content {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-top: transparent;
  background-color: #ffffff;
}

